.navbar-container {
<<<<<<< HEAD
    background: rgb(154, 192,188);
    width:100px;
    height: 100%;
=======
    background: rgb(28,28,28);
    flex: 1;
    width: 100%;
>>>>>>> 3e6c4f3d8ab0856eabf60390d7024276d807dee6
    display: flex;
    flex-direction: column;
    animation: extend 1.0s;
}

.home-button {
<<<<<<< HEAD
    background: rgb(154, 192,188);
=======
    background: rgb(28,28,28);
>>>>>>> 3e6c4f3d8ab0856eabf60390d7024276d807dee6
    flex: 1;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    transition: background 0.3s ease-in, color 0.3s ease-in;
    animation: collapse 1.0s ease-out;
}

.home-button:hover {
    background: rgb(233, 147, 135);
    color: black;
}

.contact-button {
<<<<<<< HEAD
    background: rgb(154, 192,188);
=======
    background: rgb(28,28,28);
>>>>>>> 3e6c4f3d8ab0856eabf60390d7024276d807dee6
    flex: 1;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    transition: background 0.3s ease-in, color 0.3s ease-in;
}

.contact-button:hover {
    background: rgb(233, 147, 135);
    color: black;
}

.slider {
    height:100%;
    background-color: rgb(154, 192,188);
    font-size: 5vmin;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 1vmin;
    font-weight: 800;
}

@keyframes extend {
    from {
      width: 0;
    }
    to {
      width: 100px;
    }
  }

  @keyframes collapse {
    from {
      width: 100px;
    }
    to {
      width: 0px;
    }
  }
